html {
  scroll-behavior: smooth;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  background: #fdfdfd;
  color: #000;
  font: 16px/1.5 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 500px;
}

nav {
  position: sticky; /* Considere position: fixed para cabeçalho fixo */
  top: 0;
  width: 100%;
  background: #fdfdfd;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .56);
  padding: 15px;
  z-index: 999;
  display: flex;
  justify-content: center;
}

nav a {
  /* Estilos para links da navegação */
}

section {
  padding: 20px;
}

#Sobre {
  background: #dfe4e8;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 150px;
}

#Sobre .content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
}

#Sobre img {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .56);
}

#Formação, #Portfólio, #Contato {
  /* Estilos comuns para seções */
  background: #fdfdfd;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 200px;
}

h1 {
  color: #0b0b0b;
  margin-bottom: 20px;
}

form {
  /* Estilos para o formulário */
}

@media (max-width: 576px) {
  section {
    padding: 20px;
  }
  #Sobre .content {
    flex-direction: column;
  }
  /* Outros estilos para telas menores */
}

@media (min-width: 577px) and (max-width: 768px) {
  /* Estilos para tablets */
}
